.employee-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #fff;
}

.employee-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.employee-description h4 {
  color: #000;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
}

.employee-description__salary {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #5d0005;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}

@media (min-width: 580px) {
  .employee-description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .employee-description h2 {
    font-size: 1.25rem;
  }

  .employee-description__salarye {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}